### **Q1: Data Types**

1.1 Convert the following two lists as one dictionary, where l1 is list of dictionary's keys and l2 is a list of dictionary's values:

**l1 = ['a', 'b', 'c','d']**

**l2 = ['1', '2', '3','4']**

In [ ]:
l1 = ['a', 'b', 'c','d']

l2 = ['1', '2', '3','4']

In [ ]:
dict1 = {"a":"1","b":"2","c":"3","d":"4"}
dict1

{'a': '1', 'b': '2', 'c': '3', 'd': '4'}

In [ ]:
dict2 = {}
for i in range(0,len(l1)):
  dict2[l1[i]] = l2[i]

In [ ]:
dict2

{'a': '1', 'b': '2', 'c': '3', 'd': '4'}

1.2 Write a Python code to sort the following tuple elements ascending, the result must be shown as sorted tuple.

**tuple1 = (1,2,6,4,3,0)**

In [ ]:
tuple1 = (1,2,6,4,3,0)
tuple(sorted(tuple1))

(0, 1, 2, 3, 4, 6)

1.3 Write a Python code to multiply the values of the following dictionary by two:

**my_dict = {'data1':100,'data2':-54,'data3':247}**

In [ ]:
my_dict = {'data1':100,'data2':-54,'data3':247}
for i in my_dict:
  print(my_dict[i] * 2)

200
-108
494

1.4 If you have the following two lists: 

**[1,2,3,4,5,6]**

**[2,6,7,8,10]**

Write a Python code to concatenate the two lists in a new list and remove duplicates if found.

In [ ]:
l1 = [1,2,3,4,5,6]
l2 = [2,6,7,8,10]
l3 = l1+l2
res=[]

In [ ]:
for x in l3:
  if x not in res:
    res.append(x)
print(res)

[1, 2, 3, 4, 5, 6, 7, 8, 10]

### **Q2: For/If**

**2.1** Write a python code to get all combinations of the following two lists:

**first = [2, 3, 4]**

**second = [20, 30, 40]**

The result must be as follow: 

**final = [22, 32, 42, 23, 33, 43, 24, 34, 44]**

In [ ]:
first = [2, 3, 4]
second = [20, 30, 40]
final = []
for i in first:
  for j in second:
    final.append(i+j)
final

[22, 32, 42, 23, 33, 43, 24, 34, 44]

**2.2** Write a python code that defines and compares two lists and print True if they have at least one common member.

**list1 = [1,2,3]**

**list2 = [4,5,6]**

In [ ]:
list1 = [1,2,3]

list2 = [4,5,6]
for i in list1:
  if i in list2:
    print(True)
    break

True

**2.3** Assume you have the following dictionary:

**my_dict = {'fifty': 50, 'twenty': 20, 'thirty': 30, 'ten': 10}**

Create a new list that contains all values in the previous dictionary plus 3.

In [ ]:
my_dict = {'fifty': 50, 'twenty': 20, 'thirty': 30, 'ten': 10}
for i in my_dict:
  my_dict[i] = my_dict[i] + 3

In [ ]:
my_dict

{'fifty': 53, 'twenty': 23, 'thirty': 33, 'ten': 13}

### **Q3: Functions**

**3.1** Write a Python function that takes a list and returns a new list with unique elements of the first list.

**Sample List : [1,2,3,3,3,3,4,5]**

In [ ]:
def unqLt(ls1):
  res=[]
  for i in ls1:
    if i not in res:
      res.append(i)
  return res


unqLt([1,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

**3.2** Write a Python function that receives two numbers swap them and return them. Then, call it and print the values before and after swapping.

In [ ]:
def swap(a,b):
  return b,a

a,b = 2,3
a,b = swap(a,b)
print(a,b)

3 2

**3.3** Write a function to check if a given value is from 10 to 20. Print True if yes and False is else.

In [ ]:
def checkNum(val):
  if val > 10 and val < 20:
    return True
  else:
    return False

**3.4** Write a function to multiply given value by 2 if it is less than 10. If not return the unmodified same value.