<br>

<center><img src="https://www.htu.edu.jo/images/ThumbnailsCoverPhotos/HTU%20Logo-250px.png" alt="HTU"  width="180px" align="center"> 


<br>

<p> 
School of Computing and Informatics <br>
Department of Data Science and Artificial Intelligence <br>
Data Anlaytics, Course Code:  10204210   <br>

</p></center>

##Pandas

Import necessary libraries

In [ ]:
import pandas as pd
import numpy as np

####Exercise 1

1. Given the following table:

  Create a Series from table and then multiply values by 2 and sorted in another series named Series2.

![image.png]()

In [ ]:
Series1=pd.Series([100,200,300,400,500], index=['A','B','C','D','E'])
Series2=Series1*2
Series2

A     200
B     400
C     600
D     800
E    1000
dtype: int64

####Exercise 2

Inspecting a DataFrame

When you get a new DataFrame to work with, the first thing you need to do is explore it and see what it contains. There are several useful methods and attributes for this.



*   .head() returns the first few rows (the “head” of the DataFrame).
*   .info() shows information on each of the columns, such as the data type and number of missing values.
*    .shape returns the number of rows and columns of the DataFrame.
*    .describe() calculates a few summary statistics for each column.

1. Create a dataframe and explore the E-Commerce Data - Actual transactions from UK retailer dataset using the provided methods.

In [ ]:
df_ecommerce= pd.read_csv("/content/Ecommerce.csv")

In [ ]:
print(df_ecommerce.head())
print("------------------------------------------------------------")
print(df_ecommerce.info())
print("------------------------------------------------------------")
print(df_ecommerce.shape)
print("------------------------------------------------------------")
print(df_ecommerce.describe())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

      InvoiceDate  UnitPrice  CustomerID         Country
0  12/1/2010 8:26       2.55       17850  United Kingdom
1  12/1/2010 8:26       3.39       17850  United Kingdom
2  12/1/2010 8:26       2.75       17850  United Kingdom
3  12/1/2010 8:26       3.39       17850  United Kingdom
4  12/1/2010 8:26       3.39       17850  United Kingdom
------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249 entries, 0 to 248
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   InvoiceNo    249 non-null    object
 1   StockCode    249 non-null    object
 2   Description  249 non-null    object
 3   Quantity     249 non-null    int64
 4   InvoiceDate  249 non-null    object
 5   UnitPrice    249 non-null    float64
 6   CustomerID   249 non-null    int64
 7   Country      249 non-null    object
dtypes: float64(1), int64(2), object(5)
memory usage: 15.7+ KB
None
------------------------------------------------------------
(249, 8)
------------------------------------------------------------
         Quantity   UnitPrice    CustomerID
count  249.000000  249.000000    249.000000
mean    21.939759    4.085301  15733.421687
std     51.416237   10.780657   1944.804172
min    -24.000000    0.100000  12431.000000
25%      3.000000    1.450000  14688.000000
50%      6.000000    2.550000  16029.000000
75%     23.000000    4.250000  17548.000000
max    432.000000  165.000000  18074.000000

2. Given the following dataframe: 

        df1 = pd.DataFrame(np.arange(10).reshape((2, 5)),

        index=['three', 'one'],

        columns=['d', 'a', 'b', 'c', 'e'])

 Write a python code to sort the dataframe by column.

In [ ]:
import pandas as pd
import numpy as np
df1 = pd.DataFrame(np.arange(10).reshape((2, 5)),
  index=['three', 'one'],
  columns=['d', 'a', 'b', 'c', 'e'])

In [ ]:
df1.sort_index(axis=1)

       a  b  c  d  e
three  1  2  3  0  4
one    6  7  8  5  9

4.	Given the following dataframe: 

   

```
 df = pd.DataFrame( {
      
    'A': ['A1', 'A2', 'A3', 'A4', 'A5'],

    'B': ['B1', 'B2', 'B3', 'B4', 'B5'],

    'C': ['C1', 'C2', 'C3', 'C4', 'C5'],

    'D': ['D1', 'D2', 'D3', 'D4', 'D5'],

    'E': ['E1', 'E2', 'E3', 'E4', 'E5']})
```





Write a python code to swap rows and columns.

In [ ]:
df = pd.DataFrame( {
    'A': ['A1', 'A2', 'A3', 'A4', 'A5'],
    'B': ['B1', 'B2', 'B3', 'B4', 'B5'],
    'C': ['C1', 'C2', 'C3', 'C4', 'C5'],
    'D': ['D1', 'D2', 'D3', 'D4', 'D5'],
    'E': ['E1', 'E2', 'E3', 'E4', 'E5']})
df.T

    0   1   2   3   4
A  A1  A2  A3  A4  A5
B  B1  B2  B3  B4  B5
C  C1  C2  C3  C4  C5
D  D1  D2  D3  D4  D5
E  E1  E2  E3  E4  E5

**Subsetting columns**

When working with data, you may not need all of the variables in your dataset. Square brackets ([]) can be used to select only the columns that matter to you in an order that makes sense to you.

Select StockCode, Quantity, and UnitPrice columns from the E-commerce dataset.

In [ ]:
df_ecommerce

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850,United Kingdom
...,...,...,...,...,...,...,...,...
244,536392,21891,TRADITIONAL WOODEN SKIPPING ROPE,12,12/1/2010 10:29,1.25,13705,United Kingdom
245,536392,21889,WOODEN BOX OF DOMINOES,12,12/1/2010 10:29,1.25,13705,United Kingdom
246,536392,22827,RUSTIC SEVENTEEN DRAWER SIDEBOARD,1,12/1/2010 10:29,165.00,13705,United Kingdom
247,536392,22127,PARTY CONES CARNIVAL ASSORTED,12,12/1/2010 10:29,1.25,13705,United Kingdom
248,536392,22128,PARTY CONES CANDY ASSORTED,12,12/1/2010 10:29,1.25,13705,United Kingdom

In [ ]:
features = ['StockCode','Quantity','UnitPrice']
df_ecommerce[features]

    StockCode  Quantity  UnitPrice
0      85123A         6       2.55
1       71053         6       3.39
2      84406B         8       2.75
3      84029G         6       3.39
4      84029E         6       3.39
..        ...       ...        ...
244     21891        12       1.25
245     21889        12       1.25
246     22827         1     165.00
247     22127        12       1.25
248     22128        12       1.25

[249 rows x 3 columns]

##Numpy

####Exercise 1

1. create a 3×3 numpy array of all True’s

In [ ]:
np.ones((3,3), dtype=bool)

array([[ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True]])

2.	Extract all odd numbers from arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
arr[arr % 2 == 1]

array([1, 3, 5, 7, 9])

3.	Given the following numpy array: arr= np.array([2,4,6,8,10]).

 Write a python code to print the last two elements.

In [ ]:
arr= np.array([2,4,6,8,10])
print(arr[3:])

[ 8 10]

4. Get all items between 5 and 10 from arr = np.array([2, 6, 1, 9, 10, 3, 27])

In [ ]:
arr = np.array([2, 6, 1, 9, 10, 3, 27])
arr[(arr >= 5) & (arr <= 10)]

array([ 6,  9, 10])

5.	Given the following numpy array: np.array([ 30, 26, 21, 8, 0, 15]). If the 


element greater than 20 replace it with two. Otherwise, keep it as is.

In [ ]:
x = np.array([ 30, 26, 21, 8, 0, 15])
result=np.where(x > 20, 2, x)
print(result)

[ 2  2  2  8  0 15]

6. 	Write a python code to create 4x2 numpy array with all elements set to 0. Then, add this row [[1,2]] to it.

In [ ]:
arr = np.zeros((4, 2))
arr= np.append(arr,[[1,2]], axis = 0)
print(arr)

[[0. 0.]
 [0. 0.]
 [0. 0.]
 [0. 0.]
 [1. 2.]]

7. Convert the following list to a Numpy array. Print the datatype for the array; justify your answer.



```
lt = [1,2,3,4,'D','S',9]
```

In [ ]:
lt = [1,2,3,4,'D','S',9]
arr = np.array(lt)
arr

array(['1', '2', '3', '4', 'D', 'S', '9'], dtype='<U21')

###Reference 


*   https://www.kaggle.com/datasets/carrie1/ecommerce-data